parameters:
	ignoreErrors:
		-
			message: '#^PHPDoc type array\<string\>\|bool of property App\\Models\\AddressBookSubscription\:\:\$guarded is not covariant with PHPDoc type array\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$guarded\.$#'
			identifier: property.phpDocType
			count: 1
			path: ../../e2e/app/Models/AddressBookSubscription.php

		-
			message: '#^PHPDoc type array\<string\>\|bool of property App\\Models\\SyncToken\:\:\$guarded is not covariant with PHPDoc type array\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$guarded\.$#'
			identifier: property.phpDocType
			count: 1
			path: ../../e2e/app/Models/SyncToken.php
